{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionaries & Language</title>
    <link href="{% static 'images/logo.jpg' %}" rel="icon" type="image">
    <link href="{% static 'css/Dictionaries_&_Language.css' %}" rel="stylesheet">
    <script defer src="{% static 'js/Dictionaries_&_Language.js' %}" rel="javascript" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <!--header-->
    <header class="header">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo_png.png' %}" class="logo">
        </a>
        <input type="text" class="search_box" placeholder="Title,Author,Publisher or ISBN">
        <button class="search">
            <div class="search_icon_bg">
                <span class="material-symbols-outlined search_icon">search</span>
            </div>
        </button>
        <span class="material-symbols-outlined user">account_circle</span>
        <a href="#" class="drop">My Account <span class="material-symbols-outlined arrow">arrow_drop_down</span></a>
        <ul class="dropdown">
            <li class="loginlist"><a href="{% url 'login' %}" class="loginlists">Login </a></li>
            <li class="signuplist"><a href="{% url 'signup' %}" class="signuplists">New to OBS?<br>SignUp </a></li>
            <li class="droplist"><a href="{% url 'forgot_password' %}" class="droplists">Change Password </a></li>
            <li class="droplist"><a href="{% url 'contact' %}" class="droplists">Contact us </a></li>
            <li class="droplist"><a href="{% url 'about_us' %}" class="droplists">About us</a></li><hr>
            <li class="radiolist"><span>Currency <input type="radio" name="currency">&#8377;<input type="radio" name="currency">&#36;</span></li>
        </ul>

        <div class="line"></div>
        <a href="#" id="add-to-cart">
            <input type="number" placeholder="0" class="cart_number" disabled>
            <span class="material-symbols-outlined cart">shopping_cart</span>
        </a>
    </header>
    <nav>
        <a href="#" class="nav side">Book<span class="material-symbols-outlined">arrow_drop_down</span></a><div class="lines"></div>
        <a href="{% url 'new_arrivals' %}" class="nav">New Arrivals</a><div class="lines"></div>
        <a href="{% url 'box_sets' %}" class="nav">Box Sets</a><div class="lines"></div>
        <a href="{% url 'best_seller' %}" class="nav">Best Seller</a><div class="lines"></div>
        <a href="{% url 'fiction_books' %}" class="nav">Fiction Books</a><div class="lines"></div>
        <a href="{% url 'award_winning' %}" class="nav">Award Winners</a><div class="lines"></div>
        <a href="{% url 'featured_authors' %}" class="nav">Featured Authors</a><div class="lines"></div>
        <a href="{% url 'todays_deals' %}" class="nav">Today's Deal</a><div class="lines"></div><br>
        <a href="{% url 'request_a_book' %}" class="nav">Request a Book</a><div class="lines"></div>
        <div>
            <input type="number" placeholder="0" class="heart_number" disabled>
            <img src="{% static 'images/heart_aboutus_page.png' %}" class="heart_img">
        </div>
    </nav>
    <div class="side_dropdown">
        <li class="side_list"><a href="{% url 'art_&_photography' %}" ><span class="side_lists">Art & Photography</span></a></li>
        <li class="side_list "><a href="{% url 'Biographies_&_Memoirs' %}" ><span class="side_lists ">Biographies & Memoirs</span></a></li>
        <li class="side_list present_page"><a href="{% url 'Dictionaries_&_Language' %}" ><span class="side_lists present_pages">Dictionaries & Language</span></a></li>
        <li class="side_list"><a href="{% url 'Fiction' %}" ><span class="side_lists">Fiction</span></a></li>
        <li class="side_list"><a href="{% url 'Society' %}" ><span class="side_lists">Society</span></a></li>
        <li class="side_list"><a href="{% url 'law' %}" ><span class="side_lists">Law</span></a></li>
        <li class="side_list"><a href="{% url 'medicine' %}" ><span class="side_lists">Medicine</span></a></li>
    </div>

<!--body of website-->
<!--banner-->
<div class="about_us_banner">
    <div class="bg_opacity"></div>
    <p class="about_us1">Dictionaries & Language</p>
    <p class="about_us2">Knowledge of languages is the doorway to wisdom</p>
</div>

<div class="container">
    <h3 class="filter_head">FILTER</h3>
    <span>Price &nbsp;</span><br>
    <div class="filter">
        <label for="min-price">Min Price:</label>
        <input type="number" id="min-price" placeholder="min price">
        <label for="max-price">Max Price:</label>
        <input type="number" id="max-price" placeholder="max price"><br>
        <button onclick="filterBooks()" class="filter_btn">Filter</button>
    </div>
</div>

<!--website body-->
<h1 class="web_head">Dictionaries & Language</h1><hr>
<div class="website_body"  id="books-container">
     {% for book in dictionary_languages_books %}
    <div  class="box">
        <img src="{{ book.Image.url }}"  class="image" alt="{{ book.BookTitle }}">
        <h2 class="name">{{ book.BookTitle }}</h2>
        <h4 class="color authorname">{{ book.AuthorName }}</h4>
        <h3><span class="cut">₹{{ book.CutPrice }}</span>&nbsp;&nbsp;<span>₹{{ book.UnitPrice }}</span></h3>
        <h4 class="color">{{ book.BindingType }}</h4>
        <a href="#" class="last_cart">
            <h3>Add To Cart</h3>
            <div class="stars">
                <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3V376.4zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"/></svg> 
            </div>
        </a>
    </div>
    {% endfor %}



    
</div>

</body>
<!--footer-->
<footer class="footer">
    <div class="foot1">
        <div class="div1">
            <h1 class="heads"><a href="#"class="lnk" >OBS </a></h1>
            <p><a href="#"class="lnk">Today a Reader<br> Tommorow a Leader </a></p>
        </div>
        
        <div class="div2">
            <h2 class="heads">COMPANY</h2>
            <p class="dash dash2"></p>
            <a href="{% url 'about_us' %}" class="lnk">ABOUT  US</a><br><br>
            <a href="{% url 'contact' %}" class=" lnk">CONTACT  US</a>
        </div>
        <div class="div2">
            <h2 class="heads">POLICIES</h2>
            <p class="dash dash2"></p>
            <a href="#" class="lnk">PRIVACY POLICIES</a><br><br>
            <a href="#" class="lnk">TERMS OF USE</a><br><br>
            <a href="#" class="lnk">SECURE SHOPPING</a>
        </div>
        <div class="div2">
            <h2 class="heads">HELP</h2>
            <p class="dash dash1"></p>
            <a href="#" class="lnk">PAYMENT</a><br><br>
            <a href="#" class="lnk">SHIPPING</a><br><br>
            <a href="#" class="lnk">RETURN</a><br><br>
            <a href="#" class="lnk">FAQ'S</a>
        </div>
        <div class="div2 div3">
            <h2 class="heads">DESIGNED BY</h2>
            <p class=" dash3"></p>
            <a href="#" class="lnk">
                <span class="material-symbols-outlined">person</span> 
                SRINIVAS DUNGROTH</a><br><br>
            <a href="#" class="lnk">
                <span class="material-symbols-outlined">call</span>
                9182647592</a><br><br>
            <a href="#" class="lnk">
                <span class="material-symbols-outlined">location_on</span>
                HYDERABAD</a><br><br>
            <a href="#" class="lnk">
                <span class="material-symbols-outlined">mail</span>
                dungrothsreenivas143@gmail.com</a>
        </div>
        
    </div>
    <div class="foot2">
        <div class="social_icons">
            <a href=""><img src="{% static 'images/youtube.png' %}" class="icon"></a><br>
            <a href=""><img src="{% static 'images/whatsapp.png' %}" class="icon"></a><br>
            <a href=""><img src="{% static 'images/twitter.png' %}" class="icon"></a><br>
            <a href=""><img src="{% static 'images/instagram.png' %}" class="icon"></a><br>
        </div>
        <h2 class="last">Powered by 360 digrii</h2>
    </div>
</footer>

</html>
